#construction
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden
  font-size: 20px
  font-weight: 800
  font-style: oblique

  #barrier
    margin-left: -17px
    margin-top: -19px

  .barrier
    z-index: -100

  #barrier,
  .barrier
    display: block
    position: absolute
    left: 50%
    top: 50%

  p
    position: absolute
    margin: 0
    padding: 0
    top: calc(100% - 24px)
